@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(Ubuntu_0.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(Ubuntu_1.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url(Ubuntu_2.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(Ubuntu_3.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(Ubuntu_4.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(Ubuntu_5.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(Ubuntu_6.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(Ubuntu_7.ttf) format('woff');
}
