@import url(../google-fonts/Montserrat/Montserrat.css);
@import url(../google-fonts/Open_Sans/Open_Sans.css);
@import url(../google-fonts/Open_Sans_Condensed/Open_Sans_Condensed.css);
@import url(../google-fonts/Oswald/Oswald.css);
@import url(../google-fonts/Roboto/Roboto.css);
@import url(../google-fonts/Roboto_Condensed/Roboto_Condensed.css);
@import url(../google-fonts/Anton/Anton.css);
@import url(../google-fonts/Fira_Sans/Fira_Sans.css);
@import url(../google-fonts/Lobster/Lobster.css);
@import url(../google-fonts/Merriweather/Merriweather.css);
@import url(../google-fonts/Pacifico/Pacifico.css);
@import url(../google-fonts/Playfair_Display/Playfair_Display.css);
@import url(../google-fonts/Poppins/Poppins.css);
@import url(../google-fonts/Raleway/Raleway.css);
@import url(../google-fonts/Raleway_Dots/Raleway_Dots.css);
@import url(../google-fonts/Ubuntu/Ubuntu.css);
@import url(../google-fonts/Inter/Inter.css);
