@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light Italic'), local('OpenSansCondensed-LightItalic'), url(Open_Sans_Condensed_0.ttf) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(Open_Sans_Condensed_1.ttf) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(Open_Sans_Condensed_2.ttf) format('woff');
}
